*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{    
    display: flex;
    flex-direction: column;    
}

h1{
    margin-top: 10%;
}

form input, form select, form button{
    margin: 10px;
    font-size: 1.6em;
}

