* body{
    display: inline-block;
    padding: 0;
    left: 0;
}

/* Conteudo para abrir o Ajax */
#conteudo{
    padding: 30px 30px;
}

#noticia{
    position: absolute;
    top: 1000px;
}

#inicio{
    position:absolute;
    top: 950px;
}

table{
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

thead tr{
    border-bottom: solid 3px #444;
}

tbody tr:hover{
    background-color: #dedede;
}

tfoot{
    background-color: #444;
    color: white;
    font-weight: bold;
}

/* Formulário */

.form input, textarea,select{
    display: block;
    margin-bottom: 10px;
}

input[type=radio],input[type=checkbox]{
    display: inline;    
}

/* Imagens */

.cidade{
    width: 513px;
    height: 342px;    
    background-image: url('http://files.cod3r.com.br/curso-web/imagem4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

.texto{
    width: 400px;
}

.texto img{
  margin-right: 10px;
}

.circular{
    width: 513px;
    background-color: #444;    
}

p{
    position: absolute;
    display: none;
}

/* Progresso Vídeo */

.progresso{
    height: 20px;
    width: 500px;
    border: solid 1px #444;
    margin: 15px;
}

.progresso > div{
    background-color: red;
    color: #fff;
    height: 100%;
    font-size: 14px;
    width: 0%;
}