/* 
RGB: RED - GREEN - BLUE
*/
body{
        background-color: springgreen;
        background-color: #f67809; 
        background-color: #abc;
        background-color: #edc91280;
        background-color: rgb(55, 110, 220);
        background-color: rgba(55, 110, 220, .5);

        /* hue, saturation e lightness */

        background-color: hsl(236, 78%, 35%);
        background-color: hsla(236, 82%, 47%, 0.5);
    }
