.selector{
    color: #444;
    font-size: 30px;
    border: solid 5px navy;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 100px);
    background-color: rgb(36, 160, 139);
    font-weight: bold;
}

.selector:hover{
    background-color: rgb(238, 157, 157);
    cursor: pointer;
    
}

.selector::first-letter{
    font-size: 50px;
}