body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    border: solid 3px purple;
    padding: 50px;
    margin: 10px 100px 150px 200px;
}

div{
    border: inherit;
    padding: inherit;
}

/* Inherit - Herdar */