.botao{
    background-color: $cor-bg-botao-padrao;
    color: $cor-botao-padrao;
    font-size: 1.8em;    
    width: 50%;
    height: 10%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
}

.botao:hover{
    cursor: pointer;
    text-align: center;
    border: none;
}

